@{
    ViewBag.Title = "Table Informations";
    Layout = "~/Views/Shared/_dashboard.cshtml";
}
<style>
    .scrollbar {
        overflow-x: scroll;cursor:pointer;
    }

        .scrollbar::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
    }

        .scrollbar::-webkit-scrollbar {
        height:10px;
        background-color: #F5F5F5;
    }

        .scrollbar::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            background-color: #142F43;
    }

</style>
<div class="py-3">
    <div class="row pt-4">
        <div class="col-12">
            <h1 class="h1-header mt-5"> Table Informations</h1>
        </div>
       @* <div class="col-6 my-2">
            <a class="btn-primary btn" asp-controller="Information" asp-action="Upsert"><i class="bi bi-plus-circle me-1"></i> Create Information</a>
        </div>*@
    </div>
</div>
<div style="overflow:auto;width:1150px" class="scrollbar">
    <table id="tblData" class="table table-hover table-bordered ">
        <thead>
            <tr>
                <th>
                    Email
                </th>

                <th>
                    Phone Number
                </th>
                <th>
                    Find Us
                </th>
                <th>
                    Find Us Arabic
                </th>
                  <th>
                  Working Hours
                </th>
                <th>
                    Facebook Link
                </th>
                <th>
                    Twiter Link
                </th>
                  <th>
                    Instgram Link
                </th>
                <th>
                    Tiktok Link
                </th>
                 <th>
                   Get Aquote
                </th>
                 <th>
                     Get Aquote Arabic
                </th>

                <th>
                    Actions
                </th>
            </tr>
        </thead>
    </table>
</div>
@section Scripts{
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="~/Components/js/Information.js"></script>
}


