@model AboutVM
@{
    ViewBag.Title = "Upsert Abouts";
    Layout = "~/Views/Shared/_dashboard.cshtml";
}

<form method="post" class="mb-5" asp-action="Upsert" enctype="multipart/form-data">
    <input asp-for="About.Id" hidden />
    <input asp-for="About.ImageUrl" hidden />
    <input asp-for="About.ImageUrl2" hidden />


    <div class="border p-3 mt-4 row">
        <div class="row pb-2">
            <h2 class="text-primary"> @(Model.About.Id != 0 ? "Update" : "Create") About</h2>
            <hr />
        </div>
        @*<div asp-validation-summary="All"></div>*@
        <div class="col-lg-6">

            <div class="mb-3">
                <label asp-for="About.Text1"></label>
                <textarea asp-for="About.Text1" class="form-control" rows="5"></textarea>
                <span asp-validation-for="About.Text1" class="text-danger"></span>
            </div>
              <div class="mb-3">
                <label asp-for="About.Text2"></label>
                <textarea asp-for="About.Text2" class="form-control" rows="5"></textarea>
                <span asp-validation-for="About.Text2" class="text-danger"></span>
            </div>
              <div class="mb-3">
                <label asp-for="About.Text3"></label>
                <textarea asp-for="About.Text3" class="form-control" rows="5"></textarea>
                <span asp-validation-for="About.Text3" class="text-danger"></span>
            </div>
          
        </div>
          <div class="col-lg-6">

            <div class="mb-3">
                <label asp-for="About.Text_ar1"></label>
                <textarea asp-for="About.Text_ar1" class="form-control" rows="5"></textarea>
                <span asp-validation-for="About.Text_ar1" class="text-danger"></span>
            </div>
              <div class="mb-3">
                <label asp-for="About.Text_ar2"></label>
                <textarea asp-for="About.Text_ar2" class="form-control" rows="5"></textarea>
                <span asp-validation-for="About.Text_ar2" class="text-danger"></span>
            </div>
              <div class="mb-3">
                <label asp-for="About.Text_ar3"></label>
                <textarea asp-for="About.Text_ar3" class="form-control" rows="5"></textarea>
                <span asp-validation-for="About.Text_ar3" class="text-danger"></span>
            </div>
          
        </div>
        <div class="mb-3 col-lg-6">

            <input type='file' name="file" asp-for="About.ImageUrl" id="file-input" />

            <div id='img_contain'>
                @if (Model.About.Id != 0)
                {
                    <img id="image-preview" align='middle' src="~/Components/Images/Abouts/@Model.About.ImageUrl" alt="your image" title='' />
                }
                else
                {
                    <img id="image-preview" align='middle' src="https://cdn4.vectorstock.com/i/thumb-large/18/73/add-box-simple-icon-on-white-background-vector-3431873.jpg" alt="your image" title='' />

                }
            </div>
        </div>

        <div class="mb-3 col-lg-6">

            <input type='file' name="file2" asp-for="About.ImageUrl2" id="file-input1" />

            <div id='img_contain'>
                @if (Model.About.Id != 0)
                {
                    <img id="image-preview1" align='middle' src="~/Components/Images/Abouts/@Model.About.ImageUrl2" alt="your image" title='' />
                }
                else
                {
                    <img id="image-preview1" align='middle' src="https://cdn4.vectorstock.com/i/thumb-large/18/73/add-box-simple-icon-on-white-background-vector-3431873.jpg" alt="your image" title='' />
                }
            </div>
        </div>
     
        <div class="col-lg-12">
            @if (Model.About.Id != 0)
            {
                <button type="submit" class="btn-primary btn" style="width:150px">Update</button>
            }
            else
            {
                <button type="submit" onclick="return ValidateInput()" class="btn-primary btn" style="width:150px">Create</button>
            }
            <a class="btn btn-secondary"  asp-controller="About" asp-action="Index">Back To List</a>
        </div>
    </div>
</form>

@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial.cshtml" />
    }
<script>
    function ValidateInput(){
        if(
            document.getElementById("file-input").value == "" &&
            document.getElementById("file-input1").value == ""  
        ){
              Swal.fire({
              icon: 'error',
              title: 'Oops...',
              text: 'Please Upload Image !',
            })
           return false;
        }
        return true;
    }
</script>
//<script>
//   tinymce.init({
//      selector: 'textarea',
//      plugins: 'advlist autolink lists link image charmap preview anchor pagebreak',
//      toolbar_mode: 'floating',
//    });
//</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>
    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function(e) {
          $('#image-preview').attr('src', e.target.result);
          $('#image-preview').hide();
          $('#image-preview').fadeIn(650);
        }
        reader.readAsDataURL(input.files[0]);
      }
    }

    $("#file-input").change(function() {
      readURL(this);
    });

    function readURL1(input) {
      if (input.files && input.files[0]) {
        var reader1 = new FileReader();
        reader1.onload = function(e) {
          $('#image-preview1').attr('src', e.target.result);
          $('#image-preview1').hide();
          $('#image-preview1').fadeIn(650);
        }
        reader1.readAsDataURL(input.files[0]);
      }
    }

    $("#file-input1").change(function() {
      readURL1(this);
    });
  

</script>

}